.about-us{
    padding-top: 140px;

    text-align: start;
    justify-content: center;

    display: flex;

   .schedule__item{
    display: inline-block;

        &:first-child{
            margin-right: 24px;
        }
   }

   .schedule__close{
    margin-bottom: 24px;
    *{
        margin: 0;
    }
   }

   .about-us-visit{
    margin-right: 50px;
   }

   .hours-title{
    margin: 0;
   }

   @include on-phone{
      display: block;
   }

    @include on-tablet{
      display: flex;
   }

    @include on-desctop{
      display: flex;
   }

}
