
.contacts-fields{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.fields__text{
    margin-bottom: 16px;
    height: 48px;
    background-color: #F8F8FA;

    padding-left: 20px;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    border: none;

    &--last{
        height: 144px;
        padding-top: 20px;
        resize: none;
    }

    &:hover::placeholder{
        color: #161616;
    }

}


.fields__button{
    height: 56px;
    margin-top: 16px;
    margin-bottom: 100px;
    background-color: #D12D35;
    color: #fff;
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;

    border: none;
    outline: none;

    &:hover{
        cursor: pointer;
        background-color: #AE1C23;
        transition: background-color 0.3s;
    }

    &:active{
        background-color: #EB343D;
        transition: background-color 0.3s;
    }
}

.contacts{
    margin-bottom: 100px;
}

.contacts-block{
    margin-bottom: 48px;
    margin-left: 70px;
    width: 237px;
}

.block__title{
    margin: 0;

    .title__list:first-child{
        color: #161616;
        font-weight: 400;
    }
}

.title__list{
    margin: 0;
    text-decoration: none;
    color: #161616;

    &--phone{
        margin-bottom: 8px;
    }
}

@include on-tablet{
    
    .field{
        display: grid;
        grid-template-areas: 
        "firstblock field"
        "secondblock field";
    }

    .contacts-block:first-child{
        grid-area: firstblock;
    }

    .contacts-block:last-child{
        grid-area: secondblock;
    }

    .contacts-fields{
        grid-area: field;
    }

}

@include on-desctop{
    .field{
        display: flex;
    }

    .contacts-fields{
        width: 411px;
    }

}

