.block{
    display: flex;
    justify-content: center;
}

.online{
    margin: 40px 12px;
    width: min-content;
    text-align: center;

}

@include on-desctop{
    .block{
        display: flex;
    }
}

.online-title{
    color: #D12D35;
}

.online-photo{
    height: 320px;
    width: 324px;

    object-fit: cover;
}