
.online{
    margin: 40px auto 0;
    width: min-content;
    text-align: center;

}

@include on-desctop{
    .block{
        display: flex;
    }
}

.online-title{
    color: #D12D35;
}

.online-photo{
    height: 277px;
    width: 280px;

    object-fit: cover;
}