.footer{
    height: 180px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
    display: flex;
    justify-content: center ;

    &-photo{
        position: absolute;
        width: 200%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }
    
    @include on-tablet{
        .footer-photo{
            width: 175%;
            height: 170%;
        }
    
    }
    
    @include on-desctop{
      
        .footer-photo{
            width: 100%;
            height: 200%;
        }
    }
}
