.header{
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/images/bk.png);
  background-size: cover;
  background-position: center top;

  padding-inline: 20px;


  &__center{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    margin-top: 40vh;
  }

  &__title{
    font-size: 40px;
  }
  
    @include on-tablet{
      &__top{
        padding-inline: 72px;
      }
    }

    @include on-desctop{
       &__top{
        padding-inline: 121px;
      }
    }
}
