.how-on-view-div{
    margin-bottom: 48px;
    text-align: center;

    .section-title--p{
        margin-bottom: 48px;
    }
}

.view-block{
    width: min-content;
    margin-bottom: 40px;
    margin-inline: auto;

    &__title--1{
        color: #D12D35;
    }

    &__photo, .view-block__photo-2{
        height: 130px;
        width: 130px;
    }

    &__photo{
        object-fit: cover;

        &:first-child{
            object-position: 0%;
            object-view-box: inset(15%);
        }
        
    }
    
    .view-block-photos{
        display: flex;
        justify-content: center;
        gap:24px;

    }

    .view-block__photo-1{
        height: 87px;
        width: 80px;

        object-fit: cover;
    }

    .view-block__photo-2:last-child{
        object-fit: cover;
        object-position: right top;
        
    }
    
    &__title{
        text-align: start;
        
    }

    @include on-tablet{
        .view-block__photo{
            height: 186px;
            width: 184px;

            &:first-child{
                width: 392px;
            }
        }

        .view-block__photo-1{
            height: 284px;
            width: 288px;

            &:last-child{
                display: none;
            }
        }

        .view-block__photo-2{
            height: 186px;
            width: 184px;

            &:last-child{
                width: 392px;
            }
        }


    }

    @include on-desctop{
        .view-block__photo{
            height: 320px;
            width: 324px;

            &:first-child{
                width: 672px;
            }
        }

        .view-block__photo-1{
            height: 320px;
            width: 324px;

            &:last-child{
                display:block;
            }
        }

        .view-block__photo-2{
            height: 320px;
            width: 324px;

            &:last-child{
                width: 672px;
            }
        }


    }


}


.exhibition{
    display: flex;
    justify-content: center;

    &__title{
        height: 56px;
        background-color: #D12D35;
        color: #fff;
        font-family: Cinzel, serif;
        font-weight: 700;
        font-size: 16px;
    
        border: none;
        outline: none;
    
        &:hover{
            cursor: pointer;
            background-color: #AE1C23;
            transition: background-color 0.3s;
        }
    
        &:active{
            background-color: #EB343D;
            transition: background-color 0.3s;
        }
    
        @include on-desctop{
            width: 324px;
        }
    
        @include on-tablet{
            width: 392px;
        }
    }
}



