.section-title{
   margin: 0;
   font-weight: 700;
   font-size: 32px;
   line-height: 100%;
   text-align: center;
   letter-spacing: -1.5px;
   padding: 100px 0 40px;

   &--view{
      padding-bottom: 0;
   }

   &--museum{
    padding-top:0;
    text-align: start;
   }

   @include on-tablet{
    font-size: 48px;
   }
}