.top-bar{
  padding-top: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo--link{
    display: flex;
  }

  &__logo{
    @include hover(transform, scale(1.2));

    height: 46px;
    width: 64px;

    @include on-tablet{
      height: 65px;
      width: 87px;
    }
  }

  &__icons{
    display: flex;
    gap: 24px; 
  }

}

.blocks {
  color: white;
  position: absolute;
  top: 35px;
  right: 250px;
  text-align: end;

  opacity: 0;
  transform: translateY(-10px); 
  pointer-events: none;

  transition: all 0.3s ease;

  .calls {
    margin: 4px 0;

    &__block {
      margin: 0;
      color: white;
      text-decoration: none;
    }
  }
}

.icon--phone:hover + .blocks {
  @include on-desctop{
    opacity: 1;
    transform: translateY(0); 
    pointer-events: all;
  }
}