/* #region page */
.page{
  font-family: Cinzel, serif ;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700px;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  opacity: 0;
  pointer-events: none;
}


.page__menu:target{
  opacity: 1;
  pointer-events: all;
}
/* #endregion page */
/* #region header */
.header{
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/images/bk.png);
  background-size: cover;
  background-position: center;
  
}

.top-bar__icons{
  display: flex;
  gap: 24px; 
}

.header__center{
  color: #fff;
  display: flex;
  margin-top: 120px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 100%;
}
/* #endregion page */
/* #region icons */
.icon{
  display: block;
  height: 24px;
  width: 24px;

}

.icon--phone{
  background-image: url(/images/Icon-Phone-call.png);
}

.icon--menu{
  background-image: url(/images/Icon-Burger-menu.png);
}

.icon--close{
  background-image: url(/images/Icon-Close.png);
}
/* #endregion page */
/* #region menu */

.menu__top{
  margin-bottom: 40px;
}

.top-bar{
  padding: 25px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar__logo{
  display: flex;
}

.menu{
  text-transform: uppercase;
  font-weight: 700;
  box-sizing: border-box;
  height: 100vh;
  background-color:#D12D35 ;

}

.menu__top{
  position: relative;
}

.menu__phone-number{
  display: block;
  color: #fff;
  text-decoration: none;
  font-style: 16px;
  line-height: 27px;
  margin-bottom: 8px;
}

.menu__content{
  padding-inline: 20px;
}

.menu__call-to-order{
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-style: 12px;
  line-height: 16px;
  margin-top: 16px;

  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid white ;
  width: fit-content;
}

.menu__text{
  color: #fff;
  font-style: 16px;
  line-height: 27px;
  margin: 0;
  padding: 0;
}

.menu__nav{
  margin-bottom:32px ;
  margin-top: 40px;
}

.menu__calls{
  margin-top: 32px;
}
/* #endregion menu */
/* #region nav*/
.nav__link{
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list{
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* #endregion*/